---
layout: nil
---

/* 
 * =============================================================================
 * Siteye özel Baz CSS
 * =============================================================================
 */
 
/* 
 * =============================================================================
 * Siteye özel Baz CSS
 * =============================================================================
 */
 
html {
    background-color: #f1f1f1;
}

.site {
    background: #fff;
    margin:4em auto 4em;
    width:900px;
    padding:2em;
    border: 1px solid #ddd;
    box-shadow: #333 0px 0px 18px;  
    -moz-box-shadow: #333 0px 0px 18px;  
    -webkit-box-shadow: #333 0px 0px 18px;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}

a {
    color: #153E7E;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #1589FF;
    transition: color .2s ease-in 0;
    -moz-transition-property: color;
    -moz-transition-timing-function: ease-in;
    -moz-transition-duration: .2s;
    -moz-transition-delay: 0;
    -webkit-transition-property: color;
    -webkit-transition-timing-function: ease-in;
    -webkit-transition-duration: .2s;
    -webkit-transition-delay: 0;
}

a:visited {
    text-decoration: none;
    color: #1589FF;
}

.ribbon a {
    color: #fff;
}

#logo {
    margin: 0 0 5px;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,.25);
    -moz-border-radius: 5px;
}

#logo:hover {
    border-color: rgba(0,0,0,.50);
    -moz-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.50);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.50);
}
