---
layout: nil
---

/* 
 * =============================================================================
 * Siteye özel Baz CSS
 * =============================================================================
 */
 
html {
    background-color: #f1f1f1;
}

.site {
    background: #fff;
    margin:4em auto 4em;
    width:900px;
    padding:2em;
    border: 1px solid #ddd;
    box-shadow: #333 0px 0px 18px;  
    -moz-box-shadow: #333 0px 0px 18px;  
    -webkit-box-shadow: #333 0px 0px 18px;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}

a {
    text-decoration: none;
    color: #151B8D;
}

a:visited {
    color: #333;
}

a:hover {
    text-decoration: underline;
    color: #333;
}

.ribbon a {
    color: #fff;
}

#logo {
    margin: 0 0 5px;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,.25);
}

#logo:hover {
    border-color: rgba(0,0,0,.50);
    -moz-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.50);
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.50);
}
