---
layout: nil
---

/* 
 * =============================================================================
 * Siteye özel Baz CSS
 * =============================================================================
 */

body {
	background-color: #2A2A2A;
}

.site {
	background-color: #F2F1F0;
	border: 1px solid #FFF;
}
